#Parameters for node
# from_path: "/home/zzz/ros/algorithms/data/test2" 

lidar_config_link: "/config/projection/hdl64.cfg"


# node: {
#   laser_frame_id: ros laser frame_id
#   topic_clouds: topic to subscribe
#   topic_image: topic to subcribe
# }

node: {
  laser_frame_id: "world",
  topic_clouds: "",
  topic_image: "/depth_image"
}

# ground_remover: {
#   1.     
    # remover: "depth_ground_remover",
    # angle: ground_remove_angle,
    # smooth_window_size: argument for picture smoother
#   2.
    # remover: "tunnel_ground_remover",
    # smooth_window_size: 7.0,
    # height: 
    # sensor_height: 
# }
ground_remover: {
    remover: "depth_ground_remover",
    angle: 6,
    smooth_window_size: 5
}
# ground_remover: {
#   remover: "tunnel_ground_remover",
#   smooth_window_size: 5,
#   height: 0.3,
#   sensor_height: 1.73
# }

# clusterer: {
#   angle_tollerance: 10,
#   min_cluster_size: 20,
#   max_cluster_size: 100000
# }

clusterer: {
  angle_tollerance: 10,
  min_cluster_size: 20,
  max_cluster_size: 100000
}

cloud_publisher: {
  topic_name: "segmented_cloud"
}

# objects_publisher: {
#   topic_name: for publisher,
#   use_axial_bounding_box: bool
# }
objects_publisher: {
  topic_name: "segmented_objects",
  use_axial_bounding_box: false
}



