#Parameters for IMR Reichezech data
lidar_config_link: "/config/projection/vlp16.cfg"

node: {
  laser_frame_id: "/velodyne",
  topic_clouds: "/velodyne_points",
  num_thread: 1
}
# ground_remover: {
#   remover: "tunnel_ground_remover",
#   smooth_window_size: 5,
#   height: 0.2,
#   sensor_height: 0.5
# }

ground_remover: {
  remover: "depth_ground_remover",
  smooth_window_size: 5,
  angle: 5
}

clusterer: {
  angle_tollerance: 20,
  min_cluster_size: 50,
  max_cluster_size: 25000
}

cloud_publisher: {
  topic_name: "segmented_cloud",
}

objects_publisher: {
  topic_name: "segmented_objects",
  use_axial_bounding_box: false,
}


